
<section id="about" class="sect-pt4 container"  >
  <div class="row">
    <div class="col-sm-12">
      <div class="title-box text-center">
        <h3 class="title-a">Sobre a banda</h3>
        <div class="line-mf"></div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6 row">
              <div class="col-sm col-md-100">
                <img

                  src="../../../assets/view/Projeto_files/05.jpg"
                  class="img-fluid rounded b-shadow-a sobre"
                  alt=""
                  style="
                    clip-path: polygon(
                      25% 0%,
                      100% 0%,
                      81% 100%,
                      0% 100%
                    ); ;
                  "
                />
              </div>
            </div>

            <div class="col-md-6 sobre-texto"  >
              <p>
                <strong>Um vocalista excepcional</strong>, grooves
                orgânicos, e tudo que há de bom. Esses foram os ingredientes
                escolhidos para criar a banda perfeita, mas os produtores
                musicais acidentalmente acrecentaram um ingrediente extra na
                mistura, <em>o elemento X</em>, e assim nasceu o Projeto
                Astral.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row d-flex flex-row-reverse">
            <div class="col-md-6">
              <div class="col-sm col-md-100">
                <img
                  src="../../../assets/view/Projeto_files/34.jpg"
                  class="img-fluid rounded b-shadow-a sobre2"
                  alt=""
                  style="
                    clip-path: polygon(
                      25% 0%,
                      100% 0%,
                      81% 100%,
                      0% 100%
                    ); ;
                  "
                />
              </div>
            </div>

            <div class="col-md-6 sobre-texto"  >
              <p>
                <strong>Influenciado pela música dos anos 80</strong>,<em>
                  soul, hip hop, r&b, rock e a black music,</em
                >
                nasceu a ideia de juntarmos nossa bagagem musical e
                transformar toda essa essência em harmonias e melodias, dando
                vida ao que hoje se tornou o Projeto Astral. A banda teve
                início em 2020, e atualmente conta com 6 integrantes e com show
                totalmente autoral, caminhando para finalização do primeiro
                álbum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>
